body{
  background:#0f172a;
  color:white;
  text-align:center;
  font-family:Arial;
  padding:30px;
}

button{
  margin:10px;
  padding:10px 15px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  background:#38bdf8;
  color:black;
  font-weight:bold;
}

#factBox{
  color:cyan;
  margin-top:20px;
}

#quizResult{
  color:lightgreen;
  margin-top:15px;
}

ul{
  list-style:none;
  padding:0;
}

li{
  margin:5px 0;
  color:#38bdf8;
}

hr{
  margin:40px 0;
  border:1px solid #334155;
}
